/* Including styles files */
@import url(../../libs/slick-carousel/slick/slick.css);
@import url(../../libs/slick-carousel/slick/slick-theme.css);
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/jparallax/css/jquery.parallax.css);
@import url(../../libs/nouislider/distribute/nouislider.css);
.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -58px -23px;
  width: 21px;
  height: 11px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -32px -27px;
  width: 20px;
  height: 11px; }

.icon-checked {
  background-image: url(../../img/sprite.png);
  background-position: -28px -41px;
  width: 12px;
  height: 9px; }

.icon-cross {
  background-image: url(../../img/sprite.png);
  background-position: -32px 0px;
  width: 26px;
  height: 27px; }

.icon-quote-after {
  background-image: url(../../img/sprite.png);
  background-position: -58px 0px;
  width: 28px;
  height: 23px; }

.icon-quote-before {
  background-image: url(../../img/sprite.png);
  background-position: 0px -41px;
  width: 28px;
  height: 23px; }

.icon-triangle-right {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 32px;
  height: 41px; }

/* Including fonts */
@font-face {
  src: url("../../fonts/Drina.otf");
  font-family: 'Drina';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/Muller Light.otf");
  font-family: 'Muller';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/Muller Regular.otf");
  font-family: 'Muller';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/Muller Bold.otf");
  font-family: 'Muller';
  font-weight: 700; }

/* Grid */
.case {
  position: relative;
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.col, .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.tree {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.four {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.five {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.six {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.seven {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Muller", sans-serif;
  color: #000;
  background: white;
  margin-left: auto;
  margin-right: auto; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Form elements */
.input {
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 16px;
  font-family: "Muller", sans-serif;
  background: white;
  width: 100%;
  height: 53px;
  padding: 0 18px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45); }
  .input::-webkit-input-placeholder {
    opacity: 1;
    color: #000000; }
  .input::-moz-placeholder {
    opacity: 1;
    color: #000000; }
  .input:-ms-input-placeholder {
    opacity: 1;
    color: #000000; }
  .input::placeholder {
    opacity: 1;
    color: #000000; }

.textarea {
  font-size: 16px;
  font-family: "Muller", sans-serif;
  display: block;
  background: white;
  resize: none;
  width: 100%;
  height: 155px;
  padding: 26px 28px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45); }
  .textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #000000; }
  .textarea::-moz-placeholder {
    opacity: 1;
    color: #000000; }
  .textarea:-ms-input-placeholder {
    opacity: 1;
    color: #000000; }
  .textarea::placeholder {
    opacity: 1;
    color: #000000; }

.btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Muller", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn_gradient {
    font-weight: 700;
    color: #5c270c;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    top: 0;
    text-shadow: 0 2px 0 rgba(252, 194, 83, 0.29);
    -webkit-box-shadow: inset 0 3px 2px #fcc253, inset 0 0 24px rgba(255, 168, 2, 0.54);
            box-shadow: inset 0 3px 2px #fcc253, inset 0 0 24px rgba(255, 168, 2, 0.54);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffae00), to(#c44b00));
    background-image: -webkit-linear-gradient(top, #ffae00 0%, #c44b00 100%);
    background-image: linear-gradient(to bottom, #ffae00 0%, #c44b00 100%);
    border-bottom: 3px solid #9F4000; }
    .btn_gradient:hover {
      position: relative;
      top: 3px;
      border-bottom: none; }
  .btn_large {
    font-size: 22px;
    line-height: 67px;
    height: 67px; }
    .btn_large:hover {
      line-height: 70px; }
  .btn_big {
    font-size: 22px;
    line-height: 65px;
    height: 65px; }
    .btn_big:hover {
      line-height: 68px; }
  .btn_small {
    font-size: 18px;
    line-height: 58px;
    height: 58px; }
    .btn_small:hover {
      line-height: 61px; }
  .btn_text-small {
    font-size: 18px; }
  .btn_gray {
    height: 67px;
    line-height: 65px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #e4e4e4;
    background-color: #fafafa; }
    .btn_gray:hover {
      background-color: #e4e4e4; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

.input input, .btn, .slick-slide, .textarea textarea {
  outline: none !important; }

.logo {
  color: #fff;
  font-size: 0; }
  .logo_line {
    width: 450px; }
    .logo_line .logo__desc {
      font-size: 16px;
      max-width: 245px;
      width: auto; }
  .logo__title {
    font-size: 24px; }
    .logo__title:after {
      content: '';
      width: 1px;
      height: 31px;
      background-color: #fcc253;
      display: inline-block;
      vertical-align: middle;
      margin-left: 22px;
      margin-right: 22px; }
  .logo__desc {
    font-size: 14px;
    max-width: 115px;
    width: 100%;
    font-weight: 300; }
  .logo__title, .logo__desc {
    display: inline-block;
    vertical-align: middle; }

.panel {
  z-index: 3;
  position: relative;
  padding-top: 45px;
  margin-bottom: 120px; }
  .panel__socials li {
    margin-left: 7px; }

.socials_white li {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }

.socials li {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 0; }
  .socials li:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }

.socials a {
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .socials a svg {
    display: inline-block;
    vertical-align: middle; }

.socials_small li {
  width: 32px;
  height: 32px;
  line-height: 32px; }

.socials_small .vk svg {
  width: 15px; }

.socials_small .fb svg {
  width: 14px; }

.socials_small .insta svg {
  width: 14px; }

.socials_big li {
  width: 44px;
  height: 44px;
  line-height: 44px; }

.socials_big .vk svg {
  width: 21px; }

.socials_big .fb svg {
  width: 21px; }

.socials_big .insta svg {
  width: 21px; }

.socials_color svg {
  fill: #fff; }

.socials_color .vk {
  -webkit-box-shadow: 0 3px 7px rgba(1, 96, 166, 0.3);
          box-shadow: 0 3px 7px rgba(1, 96, 166, 0.3);
  background-color: #4a76a8; }

.socials_color .fb {
  -webkit-box-shadow: 0 3px 7px rgba(31, 47, 80, 0.3);
          box-shadow: 0 3px 7px rgba(31, 47, 80, 0.3);
  background-color: #3a5998; }

.socials_color .insta {
  -webkit-box-shadow: 0 3px 7px rgba(161, 25, 86, 0.3);
          box-shadow: 0 3px 7px rgba(161, 25, 86, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c51e74), color-stop(51%, #dd2c43), to(#eb7d37));
  background-image: -webkit-linear-gradient(top, #c51e74 0%, #dd2c43 51%, #eb7d37 100%);
  background-image: linear-gradient(to bottom, #c51e74 0%, #dd2c43 51%, #eb7d37 100%); }

.header {
  color: #fff;
  overflow: hidden;
  background: url("../../img/bg/header.png") no-repeat center top; }
  .header__title {
    font-family: "Drina", serif;
    font-size: 100px;
    line-height: 108px;
    margin-bottom: 10px;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.58); }
  .header__desc {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 25px; }
  .header__btn {
    max-width: 315px;
    margin-bottom: 95px; }
  .header__wrap {
    padding-bottom: 67px;
    position: relative;
    z-index: 2; }
    .header__wrap:before {
      z-index: 1;
      content: '';
      position: absolute;
      bottom: 0;
      left: 335px;
      width: 783px;
      height: 691px;
      background: url("../../img/bg/main-photo.png") no-repeat; }
  .header__list {
    font-weight: 300;
    max-width: 380px; }
    .header__list p {
      margin-bottom: 21px; }
    .header__list li {
      font-size: 14px;
      position: relative;
      padding-left: 23px;
      margin-bottom: 20px; }
      .header__list li:nth-of-type(1), .header__list li:nth-of-type(4) {
        width: 100px; }
      .header__list li:nth-of-type(2), .header__list li:nth-of-type(5) {
        width: 105px; }
      .header__list li:nth-of-type(3), .header__list li:nth-of-type(6) {
        width: 120px; }
      .header__list li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border: 2px solid #f59d00;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .header__list li:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 2px;
        border: 2px solid #f59d00;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        top: 4px;
        left: 4px;
        background-color: #f59d00; }

strong {
  font-weight: 700; }

.title {
  font-size: 48px;
  font-weight: 300;
  text-align: center; }

.problems {
  padding-top: 48px;
  padding-bottom: 12px; }
  .problems__title {
    margin-bottom: 95px; }
  .problems__item {
    width: 25%;
    text-align: center;
    margin-bottom: 55px; }
  .problems__icon {
    line-height: 102px;
    margin-bottom: 14px; }
    .problems__icon img {
      display: inline-block;
      vertical-align: middle; }
  .problems__text {
    font-weight: 300; }

.arrow-left {
  position: absolute;
  top: -260px;
  left: 0;
  width: 91px;
  height: 439px; }

.arrow-right {
  position: absolute;
  top: -586px;
  right: 9px;
  width: 82px;
  height: 464px; }

.about {
  background-color: #fafafa;
  position: relative;
  padding-top: 58px;
  padding-bottom: 73px; }
  .about__content {
    border: 4px solid #f4f4f4;
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    position: relative;
    padding: 35px 45px 45px 40px;
    width: 540px; }
    .about__content:after {
      content: '';
      width: 32px;
      height: 41px;
      right: -32px;
      top: 45px;
      position: absolute;
      background-image: url(../../img/sprite.png);
      background-position: 0px 0px;
      width: 32px;
      height: 41px; }
  .about__title {
    font-size: 32px;
    margin-bottom: 35px; }
  .about__text {
    font-size: 18px;
    margin-bottom: 37px; }
    .about__text p {
      margin-bottom: 25px; }
      .about__text p:last-of-type {
        margin-bottom: 0; }
  .about__btn {
    max-width: 330px; }
  .about__img {
    width: 335px;
    height: 495px;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.29);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.29);
    border: 4px solid #ffffff;
    -webkit-border-radius: 15px;
            border-radius: 15px; }
    .about__img img {
      -webkit-border-radius: 15px;
              border-radius: 15px; }

.skills {
  padding-top: 48px;
  padding-bottom: 39px; }
  .skills__title {
    margin-bottom: 58px; }
  .skills__list {
    position: relative;
    padding-bottom: 47px; }
    .skills__list:before {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 445px;
      display: block;
      content: '';
      background: url("../../img/bg/sheild.png");
      background-size: 445px auto;
      background-position: center 62px;
      background-repeat: no-repeat; }
  .skills__item {
    z-index: 3;
    position: relative; }
    .skills__item:nth-of-type(odd) {
      padding-right: 27px;
      text-align: right; }
      .skills__item:nth-of-type(odd):before {
        right: -6px; }
      .skills__item:nth-of-type(odd):after {
        right: 0px; }
    .skills__item:nth-of-type(even) {
      padding-left: 27px; }
      .skills__item:nth-of-type(even):before {
        left: -6px; }
      .skills__item:nth-of-type(even):after {
        left: 0px; }
    .skills__item:before, .skills__item:after {
      -webkit-animation: pulse-dot infinite ease-in-out 2s;
              animation: pulse-dot infinite ease-in-out 2s; }
    .skills__item:before {
      content: '';
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #f59d00;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .skills__item:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border: 2px solid #f59d00;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      top: 6px;
      background-color: #f59d00; }
    .skills__item:nth-of-type(1) {
      width: 185px;
      margin-left: 85px;
      margin-right: 385px; }
    .skills__item:nth-of-type(2) {
      width: 180px; }
    .skills__item:nth-of-type(3) {
      width: 215px;
      margin-right: 495px; }
    .skills__item:nth-of-type(4) {
      width: 220px; }
    .skills__item:nth-of-type(1), .skills__item:nth-of-type(2) {
      margin-bottom: 95px; }
  .skills__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px; }
  .skills__text {
    font-size: 14px; }
  .skills__quote {
    position: relative;
    z-index: 3;
    background-color: #fff;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
    padding: 10px; }
    .skills__quote-wrap {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 2px solid #f5f5f5;
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      padding: 43px 5px;
      position: relative; }
      .skills__quote-wrap:before, .skills__quote-wrap:after {
        content: '';
        position: absolute; }
      .skills__quote-wrap:before {
        bottom: 11px;
        left: 14px;
        background-image: url(../../img/sprite.png);
        background-position: 0px -41px;
        width: 28px;
        height: 23px; }
      .skills__quote-wrap:after {
        top: 11px;
        right: 14px;
        background-image: url(../../img/sprite.png);
        background-position: -58px 0px;
        width: 28px;
        height: 23px; }
  .skills__pulse {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-animation: pulse infinite ease-in-out 2s;
            animation: pulse infinite ease-in-out 2s; }
    .skills__pulse-item {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 1px dashed rgba(0, 0, 0, 0.1); }
      .skills__pulse-item:nth-of-type(1) {
        width: 474px;
        height: 474px; }
      .skills__pulse-item:nth-of-type(2) {
        width: 623px;
        height: 623px; }
      .skills__pulse-item:nth-of-type(3) {
        width: 807px;
        height: 807px; }

.order {
  background: url("../../img/bg/knight-1.png");
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 110px; }
  .order__form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: auto;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    padding: 10px;
    width: 445px; }
    .order__form-wrap {
      background-color: rgba(255, 255, 255, 0.95);
      padding: 34px 45px 40px;
      -webkit-border-radius: 15px;
              border-radius: 15px; }

.form__title {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700; }

.form__text {
  margin-bottom: 20px; }
  .form__text p {
    margin-bottom: 20px; }
    .form__text p:last-of-type {
      margin-bottom: 0; }

.form__input {
  margin-bottom: 17px; }

.form__btn {
  width: 100%; }

.form__policy {
  margin-bottom: 22px;
  margin-top: 22px; }

.policy {
  padding-left: 37px; }
  .policy input {
    display: none; }
    .policy input:checked + label:after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
  .policy label {
    position: relative;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: "Muller", sans-serif; }
    .policy label:before {
      content: '';
      position: absolute;
      top: 0;
      left: -37px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #fff;
      width: 24px;
      height: 24px;
      -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45);
              box-shadow: 0 1px 0 #ffffff, inset 0 1px 4px rgba(0, 0, 0, 0.45); }
    .policy label:after {
      content: '';
      position: absolute;
      top: 8px;
      left: -31px;
      background-image: url(../../img/sprite.png);
      background-position: -28px -41px;
      width: 12px;
      height: 9px;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      opacity: 0; }
    .policy label a {
      border-color: #000; }
      .policy label a:hover {
        border-color: transparent; }

.result {
  padding-top: 60px;
  background: url("../../img/bg/box-1.png") no-repeat left 65px, url("../../img/bg/box-2.png") no-repeat right 65px; }
  .result__title {
    margin-bottom: 48px; }
  .result__list {
    background: url("../../img/bg/keys.png");
    background-position: center -47px;
    background-repeat: no-repeat;
    padding-top: 37px;
    padding-bottom: 155px; }
  .result__item {
    position: relative;
    margin-bottom: 54px; }
    .result__item:nth-of-type(odd) {
      padding-right: 27px;
      text-align: right; }
      .result__item:nth-of-type(odd):before {
        right: -10px; }
      .result__item:nth-of-type(odd):after {
        right: -4px; }
    .result__item:nth-of-type(even) {
      padding-left: 27px; }
      .result__item:nth-of-type(even):before {
        left: -10px; }
      .result__item:nth-of-type(even):after {
        left: -4px; }
    .result__item:before, .result__item:after {
      -webkit-animation: pulse-dot infinite ease-in-out 2s;
              animation: pulse-dot infinite ease-in-out 2s; }
    .result__item:before {
      content: '';
      position: absolute;
      top: -6px;
      width: 20px;
      height: 20px;
      border: 2px solid #f59d00;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .result__item:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border: 2px solid #f59d00;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      top: 0px;
      background-color: #f59d00; }
    .result__item:nth-of-type(1) {
      width: 195px;
      margin-left: 110px;
      margin-right: 305px; }
    .result__item:nth-of-type(2) {
      width: 205px; }
    .result__item:nth-of-type(3) {
      width: 210px;
      left: 45px;
      margin-right: 450px; }
    .result__item:nth-of-type(4) {
      width: 185px; }
    .result__item:nth-of-type(5) {
      width: 200px;
      margin-left: 32px;
      margin-right: 440px; }
    .result__item:nth-of-type(6) {
      width: 225px; }
    .result__item:nth-of-type(7) {
      width: 195px;
      margin-left: 83px;
      margin-right: 385px; }
    .result__item:nth-of-type(8) {
      width: 220px; }

.reviews {
  position: relative;
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 50px; }
  .reviews__key {
    position: absolute;
    top: -210px;
    left: 65px;
    width: 226px;
    height: 214px; }
  .reviews__title {
    margin-bottom: 50px; }
  .reviews__list {
    margin-left: -15px;
    margin-right: -15px; }
    .reviews__list .slick-arrow {
      top: auto;
      bottom: 93px; }
      .reviews__list .slick-arrow:before {
        display: none; }
    .reviews__list .slick-prev {
      left: 15px; }
      .reviews__list .slick-prev:after {
        content: '';
        display: block;
        background-image: url(../../img/sprite.png);
        background-position: -58px -23px;
        width: 21px;
        height: 11px; }
    .reviews__list .slick-next {
      left: 124px;
      right: auto; }
      .reviews__list .slick-next:after {
        content: '';
        display: block;
        background-image: url(../../img/sprite.png);
        background-position: -32px -27px;
        width: 20px;
        height: 11px; }
  .reviews__item {
    font-size: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px; }
  .reviews__content, .reviews__img {
    display: inline-block;
    vertical-align: top; }
  .reviews__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px; }
  .reviews__text {
    font-size: 16px; }
  .reviews__content {
    max-width: 320px;
    width: 100%;
    margin-right: 40px;
    padding-top: 33px; }
  .reviews__img {
    position: relative; }
    .reviews__img a {
      display: block;
      position: relative; }
      .reviews__img a span:before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        -webkit-border-radius: 12px;
                border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.5); }
      .reviews__img a:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 173px;
        height: 173px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: .3s;
        transition: .3s;
        background: url("../../img/bg/rounds.png") no-repeat center; }
      .reviews__img a:after {
        z-index: 3;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 13px 0 13px 18px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        margin-left: 5px;
        margin-top: 1px;
        -webkit-transition: .3s;
        transition: .3s;
        border-color: transparent transparent transparent #ffffff; }
    .reviews__img:hover a:before, .reviews__img:hover a:after {
      -webkit-transform: translate(-50%, -50%) scale(0.9);
          -ms-transform: translate(-50%, -50%) scale(0.9);
              transform: translate(-50%, -50%) scale(0.9); }
    .reviews__img img {
      -webkit-border-radius: 12px;
              border-radius: 12px;
      border: 4px solid #ffffff;
      -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.29);
              box-shadow: 0 3px 16px rgba(0, 0, 0, 0.29); }
  .reviews__count {
    font-weight: 700;
    position: absolute;
    bottom: 90px;
    left: 50px; }
    .reviews__count-num, .reviews__count-sum {
      display: inline-block;
      vertical-align: middle; }
    .reviews__count-num {
      font-size: 36px;
      color: #ffa200;
      width: 25px; }
    .reviews__count-sum {
      font-size: 26px; }
      .reviews__count-sum:before {
        content: '/';
        margin-right: 6px; }

.map {
  padding-top: 53px;
  padding-bottom: 42px; }
  .map__title {
    margin-bottom: 37px; }
  .map__list {
    position: relative;
    min-height: 634px;
    background-position: center 0; }
    .map__list:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      right: -50px;
      width: 1034px;
      height: 634px;
      background: url("../../img/bg/map.png") no-repeat center; }
  .map__item {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.33);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.33);
    -webkit-border-radius: 12px;
            border-radius: 12px;
    padding: 18px; }
    .map__item:nth-of-type(1) {
      width: 265px;
      top: 64px;
      right: 115px; }
    .map__item:nth-of-type(2) {
      width: 295px;
      top: 132px;
      left: 100px; }
    .map__item:nth-of-type(3) {
      width: 290px;
      top: 390px;
      left: 175px; }
    .map__item:nth-of-type(4) {
      width: 262px;
      right: -50px;
      top: 420px; }
  .map__subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px; }
  .map__text {
    font-size: 14px; }

.questions {
  position: relative;
  background-color: #fafafa;
  padding-top: 70px; }
  .questions__sheild, .questions__sword {
    position: absolute;
    z-index: 2; }
  .questions__sheild {
    top: 130px;
    left: 0;
    width: 240px;
    height: 649px; }
  .questions__sword {
    top: -292px;
    right: 0;
    width: 192px;
    height: 787px; }
  .questions__title {
    margin-bottom: 53px; }

.ask-form {
  z-index: 2;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
  padding: 9px; }
  .ask-form form {
    display: block;
    position: relative;
    border: 2px solid #f5f5f5;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .ask-form__item {
    padding: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .5s;
    transition: .5s; }
    .ask-form__item_show {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .ask-form__status {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 47px; }
    .ask-form__status-count {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 13px; }
    .ask-form__status-tab {
      font-size: 0;
      margin-left: -7px;
      margin-right: -7px; }
      .ask-form__status-tab div {
        display: inline-block;
        vertical-align: middle;
        height: 3px;
        width: -webkit-calc(20% - 14px);
        width: calc(20% - 14px);
        background-color: #ececec;
        margin-left: 7px;
        margin-right: 7px; }
        .ask-form__status-tab div.selected {
          background-color: #f59d00; }
  .ask-form__subtitle {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px; }
  .ask-form__radio {
    width: -webkit-calc(33.333% - 20px);
    width: calc(33.333% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px; }
    .ask-form__radios {
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 39px; }
  .ask-form__radios_2 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 117px; }
    .ask-form__radios_2 .ask-form__radio {
      width: -webkit-calc(50% - 30px);
      width: calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
  .ask-form__btns {
    text-align: center; }
  .ask-form__btn-reset {
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 300;
    border-bottom: 1px solid #000;
    margin-right: 75px;
    cursor: pointer; }
    .ask-form__btn-reset:hover {
      border-color: transparent; }
  .ask-form__btn-next {
    width: 265px;
    -webkit-box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1), inset 0 3px 2px #fcc253, inset 0 0 24px rgba(255, 168, 2, 0.54);
            box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1), inset 0 3px 2px #fcc253, inset 0 0 24px rgba(255, 168, 2, 0.54); }
  .ask-form__btn-reset, .ask-form__btn-next {
    display: inline-block;
    vertical-align: middle; }
  .ask-form__textarea {
    margin-bottom: 42px; }

.radio-tab input {
  display: none; }
  .radio-tab input:checked + label {
    border-color: #f59d00; }
    .radio-tab input:checked + label:before {
      border-color: #f59d00; }
    .radio-tab input:checked + label:after {
      border-color: #f59d00;
      background-color: #f59d00; }

.radio-tab label {
  position: relative;
  display: block;
  padding-left: 55px;
  border: 2px solid #ececec;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .radio-tab label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 22px;
    width: 10px;
    height: 10px;
    border: 2px solid #ececec;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-top: -8px;
    -webkit-transition: .3s;
    transition: .3s; }
  .radio-tab label:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid #ececec;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 26px;
    background-color: #ececec;
    -webkit-transition: .3s;
    transition: .3s; }

#rangeSlider {
  margin-bottom: 155px; }

.noUi-marker-horizontal.noUi-marker {
  display: none; }

.noUi-value-horizontal {
  font-size: 16px;
  color: #000;
  font-weight: 700; }

.noUi-target {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ececec;
  height: 3px;
  border: none; }

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.27);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.27);
  border: 2px solid #f59d00;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -8px !important;
  right: -10px !important;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .noUi-horizontal .noUi-handle:before {
    width: 9px;
    height: 9px;
    background-color: #f59d00;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .noUi-horizontal .noUi-handle:after {
    display: none; }

.noUi-base > div + div {
  display: none; }
  .noUi-base > div + div + div {
    display: block; }

.noUi-origin:nth-of-type(1) {
  display: block; }

.noUi-connect {
  background-color: #f59d00; }

.successfully {
  position: relative;
  background: url("../../img/bg/fireworks-1.png") no-repeat 3px 8px, url("../../img/bg/fireworks-2.png") no-repeat right 8px bottom; }
  .successfully__title, .successfully__desc {
    text-align: center; }
  .successfully__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 34px; }
  .successfully__desc {
    font-size: 18px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  .successfully__wrap {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto; }

.format {
  margin-top: -54px;
  padding-top: 133px;
  padding-bottom: 70px;
  background: #fff;
  position: relative;
  z-index: 1; }
  .format__title {
    margin-bottom: 50px; }
  .format__nav {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 25px; }
    .format__nav .slick-current span {
      cursor: default;
      border-color: #dddddd;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .format__nav-item {
      padding: 15px; }
      .format__nav-item span {
        cursor: pointer;
        position: relative;
        display: block;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        background-color: #ffffff;
        height: 67px;
        font-weight: 700;
        padding-left: 67px;
        padding-right: 14px;
        padding-top: 24px;
        border: 2px dashed #ffffff;
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
                box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14); }
        .format__nav-item span:before {
          content: '';
          background-position: center;
          background-repeat: no-repeat;
          position: absolute; }
      .format__nav-item_trial span:before {
        left: 9px;
        bottom: 9px;
        width: 38px;
        height: 66px;
        background-image: url("../../img/bg/format/cup.png"); }
      .format__nav-item_live span:before {
        left: 9px;
        bottom: 12px;
        width: 50px;
        height: 66px;
        background-image: url("../../img/bg/format/sheild.png"); }
      .format__nav-item_business span:before {
        left: -9px;
        bottom: 12px;
        width: 67px;
        height: 63px;
        background-image: url("../../img/bg/format/coin.png"); }
      .format__nav-item_crusade span {
        padding-top: 13px;
        line-height: 21px; }
        .format__nav-item_crusade span:before {
          left: 5px;
          bottom: -4px;
          width: 65px;
          height: 85px;
          background-image: url("../../img/bg/format/sword.png"); }
  .format__list {
    margin: -40px; }
    .format__list-item {
      padding: 40px;
      font-size: 0; }
  .format__img {
    z-index: 1;
    position: relative;
    border: 4px solid #ffffff;
    width: 450px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.29);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.29); }
    .format__img img {
      -webkit-border-radius: 15px;
              border-radius: 15px; }
  .format__content {
    width: 430px;
    margin-left: 50px;
    padding-top: 17px; }
  .format__img, .format__content {
    display: inline-block;
    vertical-align: top; }
  .format__subtitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 30px; }
  .format__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px; }
  .format__price {
    margin-bottom: 30px; }
    .format__price p {
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
      .format__price p:last-of-type {
        margin-right: 0; }
  .format__btn {
    max-width: 330px; }
  .format__order {
    margin-top: 65px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14);
    padding: 9px; }
    .format__order-wrap {
      border: 2px solid #f5f5f5;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 42px 34px 40px 43px; }
    .format__order-title {
      font-size: 32px;
      padding-top: 2px; }
    .format__order-btn {
      max-width: 270px;
      width: 100%; }

.whom {
  position: relative;
  padding-top: 59px;
  padding-bottom: 41px;
  background-color: #fafafa; }
  .whom:before {
    z-index: 1;
    content: '';
    position: absolute;
    right: 0;
    top: -65px;
    width: 324px;
    height: 246px;
    background: url("../../img/bg/bug.png"); }
  .whom__title {
    margin-bottom: 50px; }
  .whom__item {
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 27px;
    text-align: center; }
  .whom__icon {
    width: 133px;
    height: 133px;
    border: 2px solid #f59d00;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 8px;
    font-size: 0;
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto; }
    .whom__icon-wrap {
      width: 100%;
      height: 100%;
      line-height: 118px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #f59d00; }
      .whom__icon-wrap img {
        display: inline-block;
        vertical-align: middle; }
  .whom__text {
    font-size: 20px;
    font-weight: 700; }

.footer {
  padding-top: 80px;
  padding-bottom: 62px;
  background: url("../../img/bg/knight-2.png") no-repeat center bottom; }
  .footer__wrap {
    width: 475px;
    -webkit-box-shadow: 0 0 16px rgba(4, 26, 55, 0.1);
            box-shadow: 0 0 16px rgba(4, 26, 55, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    text-align: center;
    margin-bottom: 85px; }
    .footer__wrap-block {
      padding: 34px 0 40px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.95); }
    .footer__wrap-body {
      margin-top: 25px;
      margin-bottom: 25px;
      padding-top: 25px;
      padding-bottom: 35px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .footer__title {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px; }
  .footer__text {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 285px;
    margin-left: auto;
    margin-right: auto; }
  .footer__btn {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto; }
  .footer__socials p {
    font-size: 18px;
    margin-bottom: 21px; }
  .footer__socials ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__socials li {
    margin-left: 7px;
    margin-right: 7px; }

.dev {
  font-size: 0; }
  .dev__text, .dev__img {
    display: inline-block;
    vertical-align: middle; }
  .dev__text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-right: 18px; }
  .dev__img:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }

.popup {
  position: relative;
  display: none;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 12px;
  font-family: "Muller", sans-serif;
  background-color: rgba(255, 255, 255, 0.3); }
  .popup_thanks, .popup_consult {
    width: 445px; }
  .popup_policy {
    width: 900px; }
    .popup_policy .popup__title {
      text-align: left; }
    .popup_policy .popup__block {
      padding: 15px; }
      .popup_policy .popup__block h2, .popup_policy .popup__block h3 {
        display: block; }
      .popup_policy .popup__block h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px; }
      .popup_policy .popup__block h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 7px; }
      .popup_policy .popup__block p {
        margin-bottom: 20px; }
        .popup_policy .popup__block p:last-of-type {
          margin-bottom: 0; }
    .popup_policy .popup__content {
      max-height: 400px;
      overflow-x: hidden;
      padding-right: 15px; }
  .popup__close {
    position: absolute;
    top: 14px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    .popup__close:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .popup__block {
    position: relative;
    padding: 34px 43px 40px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95); }
  .popup__title {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700; }
  .popup__desc {
    text-align: center;
    margin-bottom: 27px;
    max-width: 295px;
    margin-left: auto;
    margin-right: auto; }
  .popup__btn {
    text-align: center; }
  .popup .fancybox-close-small {
    display: none; }
  .popup__wrap {
    position: relative;
    padding-top: 30px; }
    .popup__wrap:before {
      content: '';
      position: absolute;
      top: 0;
      left: -43px;
      right: -43px;
      width: auto;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1); }
  .popup__socials {
    text-align: center;
    margin-bottom: 40px; }
    .popup__socials ul {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .popup__socials p {
      margin-bottom: 20px; }
    .popup__socials li {
      margin-left: 6px;
      margin-right: 6px; }

.parallax-viewport {
  overflow: visible; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3); } }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3); } }

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  40% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  40% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
